// 侧边栏
$SIDEBAR_BACKGROUNDCOLOR: #1C1E21; // 背景色

//基础色
$BASE_ACCENT: #0366D6; // 高亮
$BASE_SUCCESS: #67C23A; // 成功
$BASE_WARNING: #E6A23C; // 警告
$BASE_DANGER: #ea5756; // 错误
$BASE_INFO: #909399; // 信息
$BASE_BLACK: #000; //黑色
$BASE_WHITE: #fff; //白色
$BASE_TRANSPARENTPARENT: transparent; //透明

// 背景色
$BACKGROUNDCOLOR: #222528; //基础背景色

/* 边框色 */
$BORDERCOLOR: #2a2c2f; //默认

/* 字体色 */
$FONTCOLOR_MAIN: #ffffff; //主要文字
$FONTCOLOR_REGULAR: #fefffe; //常规文字
$FONTCOLOR_SECONDARY: #d4d4d4; //次要文字
$FONTCOLOR_PLACEHOLDER: #C0C4CC; //占位文字

/* 字体大小 */
$FONTSIZE: 14px; // 默认
$FONTSIZE_0: 12px; //辅助文字
$FONTSIZE_1: 13px; //正文（小）
$FONTSIZE_2: 14px; //正文
$FONTSIZE_3: 16px; //小标题
$FONTSIZE_4: 18px; //标题
$FONTSIZE_5: 20px; //主标题

/* 字体行高 */
$LINEHEIGHT_NONE: 1; //无行高
$LINEHEIGHT_MINI: 1.3; //紧凑
$LINEHEIGHT_MEDIUM: 1.5; //常规
$LINEHEIGHT_LOOSE: 1.7; //宽松