// 基础设置
$NAV_HEIGHT: 0.9rem;//nav height
$TABBAR_HEIGHT: 1rem;//tabbar height

// 边距
$COLUMN: 0.16rem;//默认 column
$COLUMN--LOOSE: 0.28rem;//默认 column
$ROW: 0.2rem;//row
$ROW--LOOSE: 0.3rem;//row

//基础色
$BASE--BLACK: #000;//黑色
$BASE--WHITE: #fff;//白色
$BASE--SUCCESS: #67C23A; // success
$BASE--WARNING: #E6A23C; // warning
$BASE--DANGER: #F56C6C; // danger
$BASE--INFO: #909399; // info
$BASE--TRANSPARENTPARENT: transparent;//透明

/* 背景色 */
$BACKGROUND--BASE: #fff;//基础背景色
$BACKGROUND--AVTIVE: #fff;

/* 设置字体大小 */
$FONTSIZE: 0.12rem; // 默认
$FONTSIZE--0: 0.12rem; //辅助文字
$FONTSIZE--1: 0.20rem; //正文（小）
$FONTSIZE--2: 0.24rem; //正文
$FONTSIZE--3: 0.3rem;//小标题
$FONTSIZE--4: 0.4rem; //标题
$FONTSIZE--5: 0.5rem; //主标题
	
/* 设置字体颜色 */
$FONTCOLOR: #fff;//默认
$FONTCOLOR--ACTIVE: #ff711b;//字体选中颜色
$FONTCOLOR--MAIN: #303133;//主要文字
$FONTCOLOR--CONVENTIONAL: #606266;//常规文字
$FONTCOLOR--SECONDARY: #909399;//次要文字
$FONTCOLOR--PLACEHOLDER: #C0C4CC;//占位文字
	
/* 字体行高 */
$LINEHEIGHT--NONE: 1; //无行高
$LINEHEIGHT--MINI: 1.3; //紧凑
$LINEHEIGHT--MEDIUM: 1.5; //常规
$LINEHEIGHT--LOOSE: 1.7; //宽松
	
/* 边框颜色 */
$BORDERCOLOR: #DCDFE6;//一级边框
$BORDERCOLOR--0: #DCDFE6;//一级边框
$BORDERCOLOR--1: #E4E7ED;//二级边框
$BORDERCOLOR--2: #EBEEF5;//三级边框
$BORDERCOLOR--3: #F2F6FC;//四级边框